body {
    font-family: 'Roboto', sans-serif;
    margin: 0 5%;
}

.top-section,
.mission-details,
.develop-section,
.community-section,
.app-details {
    display: flex;
    align-items: center;
    padding: 0 7%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 66%;
    margin-left: 5rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.top-header {
    border-left: 3px solid #FF5959;
    padding-left: 1rem;
}

.color-highlight {
    color: #FFAD5A;
}

p {
    font-size: 1.2rem;
}

.description {
    padding: 1.5rem 0;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.mission-section {
    padding: 100px 0;
}

.center-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.mission,
.vision,
.goals {
    width: 33%;
    height: 18rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.mission-section img {
    width: 40%;
}

.mission {
    background-color: rgba(79, 157, 166, 0.10);
}

.vision {
    background-color: rgba(255, 89, 89, 0.10);
    margin: 0 20px;
}

.goals {
    background-color: rgba(255, 244, 214);
}

h3 {
    font-size: 1.5rem;
}

.develop-section {
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
}

.coding,
.project {
    width: 38%;
}

.coding img {
    width: 100%;
}

.develop {
    width: 62%;
    padding-left: 4rem;
}

h2 {
    font-size: 2.2rem;
}

.community-section {
    padding-top: 100px;
    padding-bottom: 65px;
    background-image: url("../images/shapes/shape-2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;

}

.global-community {
    width: 62%;
    padding-right: 4rem;
}

.project img {
    width: 100%;
}

.app-details img {
    width: 50%;
}

.app {
    background-image: url("../images/shapes/shape-3.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position: ;
}