body {
    font-family: 'Oleo Script Swash Caps', cursive;
}

main {
    margin: 5%;
}

.top,
.mission-details,
.develop,
.global-community,
.app-details {
    display: flex;
    align-items: center;
    padding: 0 7%;
}

.half-width {
    width: 50%;
}

.top img {
    width: 66%;
    margin-left: 5rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: #333333;
}

.top-header {
    border-left: 3px solid #FF5959;
    padding-left: 1rem;
}

.color-highlight {
    color: #FFAD5A;
}

p {
    font-size: 1.2rem;
    color: #3E3E3E;
}

.description {
    padding: 1.5rem 0;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.my-mission {
    padding: 100px 0;
}

.center-header {
    text-align: center;
    margin-bottom: 2.5rem;
    color: #13103A;
}

.mission,
.vision,
.goals {
    width: 33%;
    height: 18rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.my-mission img {
    width: 40%;
}

.mission {
    background-color: rgba(79, 157, 166, 0.10);
}

.vision {
    background-color: rgba(255, 89, 89, 0.10);
    margin: 0 20px;
}

.goals {
    background-color: rgba(255, 244, 214);
}

h3 {
    font-size: 1.5rem;
}

.develop {
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
}

.coding,
.project {
    width: 38%;
}

.coding img,
.project img {
    width: 100%;
}

.develop-details {
    width: 62%;
    padding-left: 4rem;
}

h2 {
    font-size: 2.2rem;
    color: #333333;
}

.global-community {
    padding-top: 100px;
    padding-bottom: 65px;
    background-image: url("../images/shapes/shape-2.png");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.community-details {
    width: 62%;
    padding-right: 4rem;
}

.app-details {
    margin-top: 100px;
    margin-left: 5rem;
}

.app-details img {
    width: 60%;
    margin-left: 2.3rem;
    margin-top: 2.3rem;
}

.app-picture {
    background-image: url("../images/shapes/shape-3.png"), url("../images/shapes/shape-4.png"), url("../images/shapes/shape-4.png");
    background-repeat: no-repeat;
    background-position-x: left, 2rem, 16rem;
    background-position-y: top, bottom, 22.6rem;
}

footer {
    text-align: center;
    background-color: #0B0D17;
    margin-top: 150px;
    padding: 2rem 0;
}

footer h2 {
    font-weight: 500;
    color: white;
}

.footer-highlight {
    color: #FF5959;
}

footer p {
    font-size: .8rem;
    color: #D9DBE1;
    margin-top: 1rem;
}